<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Tweet as Trump</title>
  </head>

<body>
  <center><a align="middle">
    <img src="{{ url_for('static', filename='tweet_head.png') }}" width="728.25px" height="150px">
  </a></center>

    <div class="alert alert-danger" role="alert" align="middle">
      <p class="alert-link">We're sorry, there was a problem accessing the database. </p>
    </div>
    <center>
      <a class="btn btn-outline-primary" href="{{ url_for('index') }}" role="button" style="margin:10px;">Back</a>
    </center>

</body>
</html>
