<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Tweet as Trump</title>
  </head>
  <body>
    <center><a align="middle">
      <img src="{{ url_for('static', filename='tweet_head.png') }}" width="50%" height="50%">
    </a></center>

    <center><form action="{{ url_for('tweet') }}" method="post">
        <textarea id="tweet_content" name="tweet_content" rows="4" cols="50" maxlength="280"></textarea>
        <br>
        <input type=submit value="Tweet" class="btn btn-primary" style="margin:30px; margin-left:350px">
    </form></center>
  </body>
</html>