<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Tweet as Trump</title>
</head>

<body>
  <center><a align="middle">
    <img src="{{ url_for('static', filename='tweet_head.png') }}" width="728.25px" height="150px">
  </a></center>

  <center>
    <textarea id="tweet_content" name="tweet_content" rows="4" cols="50" maxlength="280">{{ tweet_content }}</textarea>
    <br>
    <br>Predicted Number of Retweets: {{ prediction }}
    <br>
    <a class="btn btn-outline-primary" href="{{ url_for('index') }}" role="button" style="margin:20px;">Back</a>
  </center>

</body>
</html>
